APP_EXTERNAL_PORT=9000
MONGO_EXTERNAL_PORT=27017

MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_USERNAME=desafios
MONGO_PASSWORD=desafios

MONGO_DB_POINTS_OF_INTEREST=points-of-interest

MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}